<<<<<<< HEAD
body {
    padding: 2em;
    margin: 0;
}

p {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-family: 'Playfair Display', "Times New Roman", serif;
    text-align: center;
    color: #4349C4;
}

h3 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4349C4;
}

h4 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}



.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.header,
.main,
.aside,
.footer {
    flex: 1 100%;
    padding: 15px;
    text-align: center;
}

.header {
    background: tomato;
}

.main {
    background: deepskyblue;
}

.aside {
    background: gold;
}

.footer {
    background: lightgreen;
}



#nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;  
}

#nav li {
    border-bottom: 1px solid #ccc;
}

#nav a {
    display: block;
    color: #ffffff;
    background-color: #333;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}

#nav a:hover {
    background-color: #bbbbbb;
}



img {
    width: 20px;         
    height: auto;
    display: block;
    margin: 20px auto;     
}



@media (min-width: 700px) {

    #nav {
        flex-direction: row;
        justify-content: center;
    }

    #nav li {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    #nav li:last-child {
        border-right: none;
    }
}



@media (min-width: 1000px) {

    .main {
        flex: 3.1;
        order: 1;
        text-align: left;
    }

    .aside {
        flex: 1;
        order: 2;
    }

    .footer {
        order: 3;
    }
=======
body {
    padding: 2em;
    margin: 0;
}

p {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-family: 'Playfair Display', "Times New Roman", serif;
    text-align: center;
    color: #4349C4;
}

h3 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4349C4;
}

h4 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}



.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.header,
.main,
.aside,
.footer {
    flex: 1 100%;
    padding: 15px;
    text-align: center;
}

.header {
    background: tomato;
}

.main {
    background: deepskyblue;
}

.aside {
    background: gold;
}

.footer {
    background: lightgreen;
}



#nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;  
}

#nav li {
    border-bottom: 1px solid #ccc;
}

#nav a {
    display: block;
    color: #ffffff;
    background-color: #333;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}

#nav a:hover {
    background-color: #bbbbbb;
}



.main img {
    width: 20px;         
    height: auto;
    display: block;
    margin: 20px auto;     
}



@media (min-width: 700px) {

    #nav {
        flex-direction: row;
        justify-content: center;
    }

    #nav li {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    #nav li:last-child {
        border-right: none;
    }
}



@media (min-width: 1000px) {

    .main {
        flex: 3.1;
        order: 1;
        text-align: left;
    }

    .aside {
        flex: 1;
        order: 2;
    }

    .footer {
        order: 3;
    }
>>>>>>> 6e295b56f79224c8b21046e2577cfa3be8403af3
}