
p {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-family: 'Playfair Display', "Times New Roman", serif;
    text-align: center;
    color: #4349C4;
}

h3 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4349C4;
}

h4 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}

#container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#nav {
    padding: 0;
    list-style-type: none;
}

#nav li {
    text-align: center;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    padding: 8px 0;
}

#nav a:link,
#nav a:visited {
    display: block;
    color: #ffffff;
    background-color: #333;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}

#nav a:hover,
#nav a:active {
    background-color: #bbbbbb;
    padding: 10px;